In [2]:
mylist=['banana','cherry','apple']
print(mylist)
item= mylist[2]
print(item)

['banana', 'cherry', 'apple']
apple

In [2]:
Result=['Bangla',90,"English",92,"Math",95]
print(Result)
print(len(Result))
type(Result)

['Bangla', 90, 'English', 92, 'Math', 95]
6

list

In [13]:
result=['Bangla',90,"English",92,"Math",95]
result.append("Science")
print(result)

['Bangla', 90, 'English', 92, 'Math', 95, 'Science']

In [16]:
result[2]
result.insert(1,99)
print(result)

['Bangla', 99, 90, 99, 'English', 92, 'Math', 95, 'Science', 99]

In [22]:
result.append(True)
print(result)

['Bangla', 99, 90, 99, 'English', 92, 'Math', 95, 'Science', 99, True, True, True, True, True]

In [25]:
number=[5,6,7,8,9]
print(sum(number))
print(min(number))
print(max(number))

35
5
9

In [30]:
total=0
for count in number:
    total +=count
print(total)

# same thing we are doing with just one line code using sum function
print(sum( number))

35
35